.loading {
  font-size: 2rem;
  margin: 200px auto 0;
  color:  rgba(12, 93, 214, 0.8);
  animation: spin 2.5s infinite linear;
  width: 100%;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  } to{
    transform: rotate(360deg);
  }
  
}